.todo-list-table .ant-table-cell {
  padding: 4px 8px !important;
}

.editable-cell {
  line-height: 22px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.editable-cell .ant-typography-edit {
  margin: -4px -8px !important;
  padding: 4px 8px !important;
}

.editable-cell .ant-typography-edit-content {
  margin: -4px 0 !important;
  padding: 0 !important;
}

.editable-cell .ant-input {
  padding: 0 11px !important;
  margin: -4px 0 !important;
  height: 40px !important;
  min-height: 40px !important;
  line-height: 38px !important;
  font-size: inherit !important;
  border: 1px solid red !important;
} 